body {
}

.container {
    margin: auto;
    width: 200px;
    height: 400px;
    background-color: #DEDDDB;
    padding: 10px;
    box-shadow: 4px 5px 2px 0px rgba(0, 0, 0, 0.3);
}

.profile-card {
    width: 100px;
    height: 100px;
    margin: 50px 50px 0px 50px;
    background-color: teal;
    background-image: url("22.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.username {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.description {
    font-size: 8px;
    text-align: center;
}

.custom-btn {
    margin: 20px 1210px;
    width: 120px;
    height: 120px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: red;
}

    .custom-btn:hover {
        background-color:palegoldenrod;
        box-shadow: 2px 4px 9px #000000;
    }

.banner {
    width: auto;
    height: 100px;
    background-image: url("art.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inbanner {
    width: auto;
    height: 50px;
    background: rgb(0 0 0 / 0.65);
}

.text {
    text-align: center;
    color: white;
    font-size: 25px;
}

.box {
    margin: 20px auto;
    width: 300px;
    height: 200px;
    background-color: firebrick;
    border: 2px dashed gray;
}

.benten {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    background-image: url("benten.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.card {
    margin: auto;
    width: 320px;
    height: 320px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 12px;
    background-color: white;
    font-size: 1.6rem;
}

.btn {
    margin: auto;
    padding: 10px 20px;
    width: 120px;
    height: 120px;
    border: 2px solid black;
    border-radius: 8px;
    background-image: url("btn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
